<div class="dashboard-page">
  <div
    class="dashboard-content"
    [class.dashboard-content-blur]="showMatterForm"
  >
    <app-ui-header-uaslp logoSrc="logo-png/image.png"></app-ui-header-uaslp>

    <main class="dashboard-main">
      <section class="dashboard-controls">
        <div class="left-controls">
          <div class="search-area">
            <app-search-box></app-search-box>
          </div>

          <div class="add-button-area">
            <app-button
              label="Agregar Materia"
              icon="add"
              variant="success"
              [showIcon]="true"
              (clicked)="openMatterForm()"
            ></app-button>
          </div>
        </div>

        <div class="filters-area">
          <app-input
            label="Carrera"
            placeholder="Computacion"
            helperText="Carrera"
            icon="edit"
          ></app-input>

          <app-input
            label="Grupo"
            placeholder="2026"
            helperText="Grupo"
            icon="edit"
          ></app-input>

          <app-input
            label="Semestre"
            placeholder="2026/1"
            helperText="Semestre"
            icon="edit"
          ></app-input>

          <div class="apply-button-area">
            <app-button
              label="Aplicar"
              icon="filer"
              variant="secondary"
              [showIcon]="true"
            ></app-button>
          </div>
        </div>
      </section>

      <section class="cards-section">
        @for (course of courses; track $index) {
          <app-ui-card
            [title]="course.title"
            [subtitle]="course.subtitle"
            [description]="course.description"
            [progressLabel]="course.progressLabel"
            [progressValue]="course.progressValue"
            [buttonText]="course.buttonText"
            [footerLabel]="course.footerLabel"
            [variant]="course.variant"
          ></app-ui-card>
        }
      </section>
    </main>

    <app-ui-footer-uaslp></app-ui-footer-uaslp>
  </div>

  @if (showMatterForm) {
    <div class="modal-backdrop">
      <div class="modal-content">
        <app-ui-matter-form
        (cancelClick)="closeMatterForm()"
        (acceptClick)="acceptMatterForm($event)"
      ></app-ui-matter-form>
      </div>
    </div>
  }
</div>