<div class="calendar-view">
  <div class="calendar-view-content" [class.calendar-view-blur]="showActivityForm">

    <app-ui-header-uaslp logoSrc="logo-png/image.png"></app-ui-header-uaslp>

    <main class="calendar-main">

      <app-ui-header-materia
        [title]="materiaTitle"
        semester="Semestre 2020-2027/1"
        group="Grupo 2720"
        [showBackButton]="true"
        (backClick)="goBack()">
      </app-ui-header-materia>

      <!-- RESUMEN + PROGRESS BAR -->
      <section section class="calendar-resumen">
        <div class="resumen-label">
            <app-ui-progress-bar 
            label="Label" 
            [value]="56" 
            [showInfo]="true" 
            [showPercent]="true">
            </app-ui-progress-bar>
        </div>

          <div class="resumen-items">
            <span class="resumen-title">RESUMEN</span>
            <div class="resumen-items-row">
              <div class="resumen-item green">
                <span>{{ resumen.green }}</span>
                <app-icon name="info" [size]="14" color="white"></app-icon>
              </div>
              <div class="resumen-item yellow">
                <span>{{ resumen.yellow }}</span>
                <app-icon name="info" [size]="14" color="white"></app-icon>
              </div>
              <div class="resumen-item red">
                <span>{{ resumen.red }}</span>
                <app-icon name="info" [size]="14" color="white"></app-icon>
              </div>
              <div class="resumen-item blue-light">
                <span>{{ resumen.blue }}</span>
                <app-icon name="info" [size]="14" color="blue"></app-icon>
              </div>
            </div>
          </div>
        </section>

      <!-- ESTADO -->
      <section class="calendar-estado">
        <span class="estado-label">ESTADO</span>
        <app-badge label="Pendiente" color="blue" variant="outline" icon="info" height="48px"></app-badge>
        <app-badge label="Completada" color="green" variant="outline" icon="info" height="48px"></app-badge>
        <app-badge label="Incidencia" color="yellow" variant="outline" icon="warning" height="48px"></app-badge>
        <app-badge label="Incompleta" color="red" variant="outline" icon="close" height="48px"></app-badge>
      </section>

      <!-- CALENDARIO -->
      <app-ui-calendar (cellClick)="openActivityForm($event)"></app-ui-calendar>

    </main>

    <app-ui-footer-uaslp></app-ui-footer-uaslp>
  </div>

  @if (showActivityForm) {
    <div class="modal-backdrop">
      <div class="modal-content">
        <app-ui-activity-form
          (cancelClick)="closeActivityForm()"
          (acceptClick)="acceptActivityForm($event)">
        </app-ui-activity-form>
      </div>
    </div>
  }
</div>