<section class="ui-calendar">
  <header class="ui-calendar-header">
    @for (day of days; track day) {
      <button class="ui-calendar-day" type="button">
        {{ day }}
      </button>
    }
  </header>

<main class="ui-calendar-body">
  @for (item of items; track $index) {
    <app-calendar-cell
      [number]="item.number"
      [description]="item.description"
      [color]="item.color || 'blue'"
      [variant]="item.variant || 'outline'"
      (click)="onCellClick(item)">
    </app-calendar-cell>
  }
</main>

  <footer class="ui-calendar-footer">
    <app-button label="Regresar" variant="secondary" icon="arrow-left"></app-button>
    <app-button label="Siguiente" variant="secondary" icon="arrow-right"></app-button>
  </footer>
</section>
